// 
// Variables
// 

// Color system

// scss-docs-start color-variables
$primary:           #EF233C;
$success:           #003e1f;
$secondary:         #8D99AE;
$black:             #000000;
$white:             #FFFFFF;
// scss-docs-end color-variables

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black;
$color-contrast-light:     $white;


// Body
//
// Settings for the `<body>` element.

$body-text-align:    left;
$body-color:         $secondary;
$body-bg:            $black url("../images/hero/background.jpg") center no-repeat;

$scrollbar-width:    0.325rem; // 6px


// Links
//
// Style anchor elements.

$link-color:                $white;
$link-decoration:           none;
$link-hover-color:          $primary;


// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
// scss-docs-end container-max-widths

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-gutter-width:         2rem;


// scss-docs-start z-index
$zIndex-loader:             1000;
$zIndex-cursor:             999;
$zIndex-message:            999;
$zIndex-modal:              998;
$zIndex-header:             100;
// scss-docs-end z-index

$transition-base:           all .25s ease-in-out;

$base-blur:                 blur(0.5rem);
$base-gradient-bg:          url("../images/hero/gradient.jpg") center no-repeat;


// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width:                      1px;
$border-style:                      solid;
$border-color:                      $white;
$border-color-translucent:          rgba($white, .15);
// scss-docs-end border-variables

// scss-docs-start border-radius-variables
$border-radius:             .5rem; // 8px
$border-radius-sm:          .25rem; // 4px
$border-radius-lg:          1rem; // 16px
$border-radius-xl:          2rem; // 32px
$border-radius-pill:        800px; 
// scss-docs-end border-radius-variables

// stylelint-disable function-disallowed-list
// scss-docs-start aspect-ratios
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);
// scss-docs-end aspect-ratios


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-monospace:                 SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-family-base:                      "Poppins", sans-serif;
$font-size-base:                        1rem; // Assumes the browser default, typically `16px`

$font-weights: (
  lighter: lighter,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  bolder: bolder,
);

$font-weight-base:                      map-get($font-weights, normal);

$line-height-base:                      1.5;

$h1-font-size:                          $font-size-base * 3;
$h2-font-size:                          $font-size-base * 2.5;
$h3-font-size:                          $font-size-base * 2;
$h4-font-size:                          $font-size-base * 1.5;
$h5-font-size:                          $font-size-base * 1.25;
$h6-font-size:                          $font-size-base * 1.125;
// scss-docs-end font-variables

// scss-docs-start headings-variables
$headings-margin-bottom:                1rem;
$headings-font-family:                  "Red Rose", serif;
$headings-font-weight:                  map-get($font-weights, bold);
$headings-line-height:                  1;
$headings-color:                        $white;
// scss-docs-end headings-variables

// Text alignment

$text-aligns: (
  left: left,
  center: center,
  right: right
);


// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
);


// Email

$email-font-size:                 6rem; // 96px
$email-opacity:                   0.05;



// Components
//
// Common template components configuration

// Loading

$loader-bg:                       #030712;
$loader-color:                    $white;
$loader-font-size:                1.5rem; // 24px
$loader-font-weight:              map-get($font-weights, medium);
$loader-text-transform:           uppercase;


// Button

$button-padding-y:                .625rem;
$button-padding-x:                1rem;
$button-line-height:              1.25rem;
$button-border-radius:            $border-radius-pill;
$button-font-size:                .875rem; // 14px
$button-font-family:              $font-family-base;
$button-font-weight:              map-get($font-weights, medium);


// Forms

$form-label-font-size:            0.875rem; // 14px
$form-label-font-weight:          600;
$form-label-color:                $white;
$form-label-margin-bottom:        0.25rem; // 4px

$form-group-margin-bottom:        1.5rem; // 24px

$form-control-bg:                                 rgba($white, 0.2) url("../images/hero/noise.png");
$form-control-bg-blur:                            $base-blur;
$form-control-color:                              $white;
$form-control-padding-y:                          0.5rem; // 8px
$form-control-padding-x:                          1.25rem; // 20px
$form-control-min-height:                         2.5rem; // 40px
$form-control-border-width:                       $border-width;
$form-control-border-color:                       rgba($white, 0.2);
$form-control-border-radius:                      $border-radius-sm;
$form-control-focus-border-color:                 rgba($white, 0.6);
$form-control-line-height:                        1.25;

$form-error-font-size:                            0.75rem; // 12px
$form-error-padding:                              0.5rem 1rem;
$form-error-line-height:                          1rem; // 16px
$form-error-border-radius:                        $border-radius-sm;
$form-error-border-width:                         0.25rem; // 4px

$form-message-color:                              $white;
$form-message-padding:                            1rem; // 16px
$form-message-child-width:                        380px;
$form-message-child-padding:                      0.75rem 1.5rem;
$form-message-child-border-radius:                $border-radius-sm;
$form-message-child-font-weight:                  map-get($font-weights, medium);


// Card

$card-padding-y:                                  1.5rem; // 24px
$card-padding-x:                                  2rem; // 32px
$card-border-radius:                              $border-radius-lg;
$card-bg:                                         rgba($white, .05) url("../images/hero/noise.png");
$card-bg-blur:                                    $base-blur;
$card-border-width:                               $border-width;
$card-border-color:                               $border-color-translucent;

$card-image-space:                                1rem; // 16px
$card-image-border-radius:                        $border-radius-lg;


// Collapses

$collapse-border-width:                           1px; // 24px
$collapse-border-color:                           $border-color-translucent;
$collapse-padding-y:                              1.5rem; // 24px
$collapse-title-padding-x:                        1rem; // 16px


// Modal

$modal-bg:                                        rgba($black, .75);
$modal-bg-blur:                                   $base-blur;

$modal-container-margin-y:                        2rem; // 32px

$modal-dialog-bg:                                 $base-gradient-bg;
$modal-dialog-max-width:                          580px;
$modal-dialog-padding-y:                          2rem; // 32px
$modal-dialog-padding-x:                          1.5rem; // 24px
$modal-dialog-padding-y-sm:                       3rem; // 48px
$modal-dialog-padding-x-sm:                       4rem; // 44px
$modal-dialog-color:                              $white;
$modal-dialog-head-margin-bottom:                 2rem; // 32px

$modal-close-size:                                1.5rem; // 24px
$modal-close-color:                               $black;
$modal-close-bg:                                  rgba($white, 0.5);
$modal-close-bg-hover:                            rgba($white, 0.75);


// Header

$header-padding-y:                3rem; // 48px
$header-padding-y-sm:             1.5rem; // 24px

$header-brand-width:              5rem; // 80px
$header-button-size:              2.5rem; // 40px
$header-child-margin-x:           1.5rem; // 24px
$header-child-margin-x-sm:        2rem; // 32px


// Hero

$hero-1-image-width:              620px;
$hero-1-image-width-lg:           840px;

$hero-2-image-max-width:          75vw; 
$hero-2-image-max-width-sm:       420px; 
$hero-2-image-max-width-md:       580px; 
$hero-2-image-max-width-lg:       680px; 
$hero-2-image-margin-bottom:      3rem; // 48px


// Icon link

$icon-link-gap:                   0.5rem; // 8px
$icon-size:                       2rem; // 32px


// Navigation

$navigation-max-width:                                670px;

$navigation-item-width:                               33.33333333%;
$navigation-item-gutter:                              0.5rem; // 8px
$navigation-item-gutter-xs:                           1rem; // 16px

$navigation-title-font-size:                          1rem; // 16px

$navigation-link-font-size:                           0.875rem; // 14px
$navigation-link-font-size-sm:                        0.625rem; // 10px
$navigation-link-padding-x:                           1rem; // 16px
$navigation-link-arrow-width:                         3.5rem; // 56px
$navigation-link-child-spacing:                       0.5rem; // 8px
$navigation-link-child-spacing-sm:                    1rem; // 16px

$navigation-card-icon-margin-bottom:                  1rem; // 16px
$navigation-card-icon-size:                           2rem; // 32px
$navigation-card-icon-size-sm:                        3rem; // 48px
$navigation-card-icon-size-lg:                        3.5rem; // 56px


// Navbar

$navbar-item-margin:                  1.5rem; // 24px
$navbar-link-opacity:                 0.75;


// Progressbar

$progress-bg:                         rgba($white, 0.4);
$progress-height:                     0.125rem; // 2px
$progress-border-radius:              $border-radius;

$progress-badge-width:                2.25rem; // 36px
$progress-badge-border-radius:        $border-radius-sm;
$progress-badge-font-size:            0.75rem; // 12px
$progress-badge-font-weight:          map-get($font-weights, medium);
$progress-badge-line-height:          1.25rem; // 20px
$progress-badge-top:                  -2.125rem; // -34px

$progressbar-height:                  0.25rem; // 4px


// Swiper

$swiper-scrollbar-bg:                 $white;
$swiper-scrollbar-max-width:          460px;


// Footer

$footer-container-max-width:          1080px;

$footer-card-padding:                 1.5rem 1.5rem 6rem;
$footer-card-padding-sm:              2rem 2rem 6rem;
$footer-card-padding-lg:              4rem 4rem 8rem;
$footer-card-border-radius:           $border-radius-lg;
$footer-card-border-radius-xl:        $border-radius-xl;

$footer-card-top-padding-bottom:      1.5rem; // 24px
$footer-card-content-margin-top:      3rem; // 48px
$footer-arrow-size:                   1.5rem; // 24px

$footer-copy-font-size:               0.75rem; // 12px
$footer-copy-padding-y:               2.5rem; // 40px


// Pages
// 
// 

$section-padding-y:                   5rem; // 96px
$section-padding-y-sm:                6.5rem; // 120px

$section-head-margin-bottom:          3rem; // 48px
$section-head-margin-bottom-sm:       4rem; // 64px
$section-title-line-height:           1.25;
$section-subtitle-color:              $white;
$section-subtitle-margin-bottom:      1rem; // 16px

$inner-intro-padding-top:             10rem; // 240px
$inner-intro-padding-top-lg:          15rem; // 160px

$page-head-child-space:               2rem; // 32px
$page-head-margin-bottom:             4rem; // 64px


// Home page

$intro-padding-top:                   7.5rem; // 120px
$intro-padding-bottom:                2rem; // 32px

$intro-title:                         8rem; // 128px
$intro-title-line-height:             1.05;
$intro-title-margin-bottom:           2rem; // 32px
$intro-title-width:                   480px;
$intro-title-width-lg:                760px;


// About page

$info-icon-bg:                        rgba($white, 0.1);
$info-icon-size:                      2.5rem; // 40px
$info-icon-size-md:                   4rem; // 64px
$info-icon-border-radius:             4rem; // 64px

$info-card-margin-bottom:             4rem; // 64px
$info-card-padding-x:                 3rem; // 48px
$info-item-gutter:                    1.5rem; // 24px
$info-content-padding-x:              1rem; // 16px
$info-title-margin-bottom:            0.5rem; // 8px

$analytics-gutter:                    1.5rem; // 24px

$logo-card-width:                     200px;
$logo-max-width:                      124px;
$logo-max-height:                     64px;

$testimonial-color:                   $white;
$testimonial-padding-y:               2.5rem; // 40px
$testimonial-avatar-size:             3rem; // 48px
$testimonial-avatar-padding-x:        1rem; // 16px

$testimonial-order:                   (1,2,5,3,4,6);
$testimonial-length:                  length($testimonial-order);


// Resume page

$resume-hero-mask-image:              url("../images/hero/resume-mask.svg");
$resume-hero-link-max-width:          15vw;

$education-content-card-color:        $white;
$education-content-card-padding-y:    2rem; // 32px
$education-content-card-padding-x:    3rem; // 48px

$expertise-color:                     $white;
$expertise-item-margin-top:           2rem; // 32px
$expertise-card-margin-y:             2.5rem; // 40px

$experience-margin-top:               3rem; // 48px
$experience-padding-x:                3rem; // 48px
$experience-item-padding-x:           2rem; // 32px
$experience-content-margin-top:       1.5rem; // 24px
$experience-content-title-color:      $white;

$award-card-width:                    280px;
$award-card-height:                   320px;


// Services page

$service-card-width:                  320px;
$service-card-width-sm:               400px;

$service-card-head-margin-bottom:     1rem; // 16px
$service-card-icon-size:              3rem; // 48px
$service-card-icon-size-sm:           4rem; // 64px

$plan-card-space-top:                 3rem; // 48px
$plan-card-padding-y:                 1.5rem; // 24px
$plan-item-color:                     $white;
$plan-item-margin-top:                1.5rem; // 24px
$plan-item-padding-left:              2rem; // 32px
$plan-item-icon-size:                 1.25rem; // 20px
$plan-item-icon:                      url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33309 12.6424L15.9934 4.98206L17.1719 6.16056L8.33309 14.9994L3.02979 9.69612L4.2083 8.51762L8.33309 12.6424Z" fill="#{$white}"/></svg>');


// Portfolio page

$portfolio-color:                     $white;
$portfolio-item-margin-bottom:        5rem; // 80px

$portfolio-hero-border-radius:        $border-radius;
$portfolio-hero-border-radius-sm:     $border-radius-lg;
$portfolio-hero-margin-bottom:        2rem; // 32px

$portfolio-subtitle-margin-bottom:    1.5rem; // 24px
$portfolio-subtitle-padding-left:     4.5rem; // 72px

$portfolio-arrow-margin-top:          1rem; // 16px


// Blog Page

$blog-title:                          12.5rem; // 200px
$blog-title-opacity:                  0.04;

$blog-content-margin-top:             1rem; // 16px
$blog-subtitle-font-size:             0.875rem; // 14px
$blog-subtitle-font-weight:           map-get($font-weights, 600);
$blog-subtitle-margin-bottom:         .5rem; // 8px

$blog-slide-padding-top:              2rem; // 32px
$blog-slide-padding-top-md:           4rem; // 64px


// Details page

$details-child-margin-bottom:          4rem; // 64px

$details-container-max-width:         740px;
$details-container-padding-x:         1rem; // 16px

$details-hero-max-width:              840px;
$details-hero-border-radius:          $border-radius-lg;
$details-hero-border-radius-lg:       $border-radius-xl;

$share-margin-top:                    3rem; // 48px
$share-social-padding-left:           1rem; // 16px

$image-collage-margin-bottom:         1.2rem; // 24px