// 
// Button component
// 
// .button              - base button class
// .button__inner       - inner element to handle button hover marquee animation
// .button--primary     - primary button


// Button styles

.button {
    --button-padding-y: #{$button-padding-y};
    --button-padding-x: #{$button-padding-x};
    --button-font-size: #{$button-font-size};
    --button-line-height: #{$button-line-height};

    display: inline-flex;
    align-items: center;
    padding: var(--button-padding-y) var(--button-padding-x);
    font-family: $button-font-family;
    font-size: var(--button-font-size);
    font-weight: $button-font-weight;
    line-height: var(--button-line-height);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: $button-border-radius;
    background: var(--button-bg);
    color: var(--button-color);

    // inner element styling
    &__inner > span:after {
        @include absolute(top 50%);
        @include direction(left 125%);
        content: attr(data-text);
        transform: translateY(-50%);
        white-space: nowrap;
    }

    @include hover {
        .button__inner {
            @include ltr {
                animation: marquee-ltr 2s linear infinite;
            }
            @include rtl {
                animation: marquee-rtl 2s linear infinite;
            }
        }
    }


    // Button variant
    &.button--primary {
        --button-bg: linear-gradient(90deg, #{$primary} 0%, #{shade-color($primary, 25%)} 80%);
        --button-color: #{$white};
        --link-hover-color: #{$white};
    }

    &.button--white {
        --button-bg: linear-gradient(90deg, #{$white} 0%, #edf2f4 80%);
        --button-color: #{$primary};
        --link-hover-color: #{$primary};
    }

    
    // Responsive styling
    @include media-breakpoint-up(md) {
        --button-font-size: 1rem;
        --button-line-height: 1.5;
        --button-padding-y: .75rem;
        --button-padding-x: 1.5rem;
    }
}


// Animation

@keyframes marquee-ltr {
    0% { transform: translateX(0); }
    100% { transform: translateX(-125%); }
}

@keyframes marquee-rtl {
    0% { transform: translateX(0); }
    100% { transform: translateX(125%); }
}