//
// Collapses Component
//
// .collapses           - main collapses wrapper element styles
// .collapse            - styles for individual collapse
// .collapse__head      - styles for the collapse header
// .collapse__body      - styles for the collapse body


// Collapses styles

.collapses {
    @include mx;

    // Collapse styling
    .collapse {
        border-top: $collapse-border-width solid $collapse-border-color;
        &:last-child {
            border-bottom: $collapse-border-width solid $collapse-border-color;
        }

        // Collapse head styling
        .collapse__head {
            --heading-margin-bottom: 0;
            @include flexbox-v-center;
            justify-content: space-between;
            padding-top: $collapse-padding-y;
            padding-bottom: $collapse-padding-y;
            .collapse__arrow {
                transition: $transition-base;
            }
            &.active {
                .collapse__arrow {
                    transform: rotate(180deg);
                }
            }
        }

        // Collapse body styling
        .collapse__body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.35s linear;
            .collapse__body__content {
                padding-bottom: $collapse-padding-y;
            }
        }

        .collapse__title {
            @include direction(padding-right $collapse-title-padding-x);
            flex: 1;
        }
    }

    // Responsive styling
    @include media-breakpoint-up(lg) {
        width: percentage(divide(10, 12));
    }

    @include media-breakpoint-up(xl) {
        width: percentage(divide(8, 12));
    }
}