// 
// Footer Component
// 
// #footer              - template footer section
// .footer-top          - styles for the top section of the footer
// .footer-content      - styles for the content block (menu & social) within the footer


// Footer styles

#footer {

    // Footer card styling
    .footer-card {
        padding: $footer-card-padding;
        background-color: var(--primary);
        border-radius: $footer-card-border-radius;
        position: relative;
    }

    // Footer card child styling
    .footer-top,
    .footer-content {
        position: relative;
        z-index: 2;
    }

    .footer-top {
        @include flexbox-v-center;
        justify-content: space-between;
        padding-bottom: $footer-card-top-padding-bottom;
        border-bottom: $border-width solid $border-color;
    }

    .footer-title {
        @extend %heading;
        margin-bottom: 0;
    }

    .footer-arrow {
        @include size($footer-arrow-size);
        @include rtl {
            transform: scaleX(-1);
        }
    }

    .footer-content {
        margin-top: $footer-card-content-margin-top;
    }

    #email {
        z-index: 1;
        opacity: 0.1;
    }

    // Footer copy styling
    .footer-copy {
        @include font-size($footer-copy-font-size);
        padding-top: $footer-copy-padding-y;
        padding-bottom: $footer-copy-padding-y;
    }


    // Responsive styling
    @include media-breakpoint-up(sm) {
        .footer-card {
            padding: $footer-card-padding-sm;
        }
    }

    @include media-breakpoint-up(md) {
        .footer-content {
            @include flexbox-v-center;
            justify-content: space-between;
            .social {
                margin-top: 0;
            }
        }

        .footer-arrow {
            @include size(initial);
            @include rtl {
                transform: scaleX(-1);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .footer-card {
            padding: $footer-card-padding-lg;
        }
    }

    @include media-breakpoint-up(xl) {
        --container-max-width: #{$footer-container-max-width};
        .footer-card {
            border-radius: $footer-card-border-radius-xl;
        }
    }
}
