// 
// Intro component
// 
// .hero                - hero image styles
// #intro               - intro section
// .intro-container     - main container to fluid intro container vertically
// .intro-head          - head block to set title vertically centered
// .intro-title         - title styles
// #inner_intro         - inner intro styles


// Hero styles

.hero {
    z-index: -1;
    opacity: 0;

    // Hero UI options styling
    &.hero--1,
    &.hero--2,
    &.hero--3 {
        @include rtl {
            img {
                transform: scaleX(-1);
            }
        }
    }

    &.hero--1 {
        @include fixed(bottom 0);
        @include direction(left calc(-.4 * $hero-1-image-width));
        width: $hero-1-image-width;

        // Responsive styling
        @include media-breakpoint-up(md) {
            width: $hero-1-image-width-lg;
        }

        @include media-breakpoint-up(lg) {
            @include direction(left -3rem);
        }
        
        @media (min-width: 1540px) {
            @include direction(left calc((100vw - var(--container-max-width)) / 4));
        }
    }

    &.hero--2,
    &.hero--3 {
        max-width: $hero-2-image-max-width;
        width: 100%;
        position: relative;
        margin-bottom: $hero-2-image-margin-bottom;
        &:before {
            content: '';
            display: block;
        }

        @include media-breakpoint-up(sm) {
            @include absolute(top 0);
            @include direction(left 0);
            max-width: $hero-2-image-max-width-sm;
            margin-bottom: 0;
        }

        @include media-breakpoint-up(md) {
            max-width: $hero-2-image-max-width-md;
        }

        @include media-breakpoint-up(lg) {
            max-width: $hero-2-image-max-width-lg;
            top: -2rem;
        }
    }

    &.hero--2 {
        border-radius: $border-radius-pill;
        background-color: var(--primary);
        &:before {
            padding-bottom: 100%;
        }

        .hero__cover {
            border-radius: $border-radius-pill;
        }
        .hero__image {
            @include absolute(top -5%);
            @include direction(left -10%);
            width: 120%;
            max-width: initial;
        }
    }

    &.hero--3 {
        &:before {
            padding-bottom: 80%;
        }
        svg {
            @include absolute(top -9990px);
        }
        .hero__blob {
            clip-path: url(#blob);
            background-color: var(--primary);
        }
        .hero__image {
            @include absolute(top 3%);
            @include direction(left -2%);
            @include size(100%);
            object-fit: cover;
        }
    }
    
    .hero__blob,
    .hero__cover {
        @include absolute(top 0 right 0 bottom 0 left 0);
        @include size(100%);
        overflow: hidden;
    }

    .hero__image {
        mix-blend-mode: lighten;
    }
}


// Intro styles

#intro {

    // Container styling
    .intro-container {
        @include flexbox;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        padding-top: $intro-padding-top;
        padding-bottom: $intro-padding-bottom;
        > * {
            @include flex;
        }
    }

    // Head styling
    .intro-head {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    // Title styling
    .intro-title {
        @include flex;
        @include font-size($intro-title);
        @include margin-bottom($intro-title-margin-bottom);
        @include direction(margin-left auto);
        max-width: $intro-title-width;
        line-height: $intro-title-line-height;
        text-transform: uppercase;
        
        .word {
            display: block;
            overflow: hidden;
            &:last-child {
                font-weight: map-get($font-weights, light);
                @include direction(text-align right);
            }
            .word__inner {
                transform: translateY(105%);
            }
        }
    }

    
    // Responsive styling
    @include media-breakpoint-up(lg) {
        .intro-title {
            max-width: $intro-title-width-lg;
        }
    }
}


// Inner intro styles

#inner_intro {
    padding-top: $inner-intro-padding-top;
    overflow: hidden;
    padding-bottom: var(--section-padding-y);
    
    .container {
        position: relative;
    }


    // Responsive styling
    @include media-breakpoint-up(lg) {
        padding-top: $inner-intro-padding-top-lg;
    }
}