// 
// Loader component
// 
// #loader              - template loader
// #loader_text         - loader text
// #loader_shape        - loader svg shape to animate after loading
// .loaded              - added after window loaded


// Loader styles

#loader {
    @include fixed(top 0 left 0);
    @include size(100%, 200vh);
    z-index: $zIndex-loader;
    color: var(--loader-color);

    &_text {
        @include flexbox-center;
        @include font-size($loader-font-size);
        @include size(100%, 100vh);
        text-transform: $loader-text-transform;
        letter-spacing: .25rem;
        background-color: var(--loader-bg);        
    }

    &_shape {
        @include size(100%, 100vh);
        display: block;
        fill: var(--loader-bg);
        transform-origin: 50% 0;
        position: relative;
        margin-top: -4px;
    }

    .char {
        display: inline-block;
    }

    &:not(.loaded) {
        .char {
            opacity: 0.15;
            animation: char 750ms infinite alternate calc(20ms + (100ms * var(--char-index)));
        }
    }
}


// Animation

@keyframes char {
    0% { opacity: 1; }
    100% { opacity: 0.15; }
}