// 
// Modal component
// 
// .modal-open          - body class for disabling scroll
// .modal               - modal container
// .modal__container    - container to provide vertical spacing and center alignment of the dialog
// .modal__dialog       - actual modal dialog
// .modal__close        - close button for the modal


// Modal styles

.modal {
    @include fixed(top 0 right 0 bottom 0 left 0);
    @include hidden;
    transition: $transition-base;
    padding: 0 calc(.5 * var(--gutter-x));
    overflow: auto;
    background-color: $modal-bg;
    backdrop-filter: $modal-bg-blur;
    z-index: $zIndex-modal;
    
    // Apply styles when the modal is opening
    &-open {
        overflow: hidden;
        // padding-right: $scrollbar-width;
    }

    &.show,
    & .modal__dialog.show {
        @include visible;
    }

    & .modal__dialog.show {
        transform: translateY(0);
    }

    // Container styling
    .modal__container {
        @include flexbox-center;
        margin: $modal-container-margin-y 0;
        min-height: calc(100% - ($modal-container-margin-y * 2));
    }

    // Dialog styling
    .modal__dialog {
        @include hidden;
        --heading-color: #{$modal-dialog-color};
        position: relative;
        width: 100%;
        max-width: $modal-dialog-max-width;
        transform: translateY(-64px);
        transition: all .5s ease-in-out .15s;
        padding: $modal-dialog-padding-y $modal-dialog-padding-x;
        background: $modal-dialog-bg;
        border-radius: $border-radius;
        color: $modal-dialog-color;
        .modal__dialog__head {
            margin-bottom: $modal-dialog-head-margin-bottom;
        }
    }

    // Close button styling
    .modal__close {
        --link-color: #{$modal-close-color};
        --link-hover-color: var(--link-color);
        @include absolute(top 1rem right 1rem);
        @include flexbox-center;
        @include size($modal-close-size);
        background-color: $modal-close-bg;
        border-radius: $border-radius-pill;
        @include hover {
            background-color: $modal-close-bg-hover;
        }
    }


    // Responsive styling
    @include media-breakpoint-up(sm) {
        .modal__dialog {
            padding: $modal-dialog-padding-y-sm $modal-dialog-padding-x-sm;
            border-radius: $border-radius-lg;
        }
    }
}