// 
// Navigation component
// 
// .navigation                      - navigation
// .navigation__container           - container to adjust padding and spacing
// .navigation__item                - item to control width and spacing
// .navigation__card                - anchor tag link card
// .navigation__link                - anchor tag link 
// .navbar                          - footer navbar styles


// Navigation styles

.navigation {
    --navigation-gutter: #{$navigation-item-gutter};
    @include direction(margin-left auto);
    max-width: $navigation-max-width;

    // Container styling
    .navigation__container {
        @include flexbox;
        @include mx(calc(-.5 * var(--navigation-gutter)));
    }

    // Item styling
    .navigation__item {
        @include flex($navigation-item-width);
        @include px(calc(var(--navigation-gutter) * .5));
        margin-top: var(--navigation-gutter);
        opacity: 0;

        &:first-child {
            @include direction(margin-left $navigation-item-width);
        }
    }

    // Card & link styling
    .navigation__card,
    .navigation__link {
        --link-hover-color: var(--link-color);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        @include before {
            padding-bottom: 100%;
            width: 100%;
            pointer-events: none;
        }
        > * {
            @include absolute(top 50% left 0);
            width: 100%;
            transform: translateY(-50%);
        }
    }

    // Card styling
    .navigation__card {
        background: $card-bg;
        // backdrop-filter: $card-bg-blur;
        overflow: hidden;
        transition: $transition-base;
        &.navigation__card--1 {
            @include direction(border-top-left-radius $border-radius-pill);
            @include direction(border-top-right-radius $border-radius-pill);
            @include direction(border-bottom-left-radius $border-radius-pill);
            @include direction((border-left, $card-border-width * 2 solid $card-border-color));
            border-top: $card-border-width * 2 solid $card-border-color;
        }
        &.navigation__card--2 {
            @include direction(border-top-left-radius $border-radius-pill);
            @include direction(border-bottom-right-radius $border-radius-pill);
            @include direction(border-bottom-left-radius $border-radius-pill);
            @include direction((border-left, $card-border-width * 2 solid $card-border-color));
            border-bottom: $card-border-width * 2 solid $card-border-color;
        }
        &.navigation__card--3 {
            @include direction(border-top-right-radius $border-radius-pill);
            @include direction(border-bottom-right-radius $border-radius-pill);
            @include direction(border-bottom-left-radius $border-radius-pill);
            @include direction((border-right, $card-border-width * 2 solid $card-border-color));
            border-bottom: $card-border-width * 2 solid $card-border-color;
        }

        @include hover {
            border-radius: $border-radius-pill;
            transform: scale(.95);
        }

        .svg {
            @include size($navigation-card-icon-size);
            margin-bottom: $navigation-card-icon-margin-bottom;
        }
        .h5 {
            margin-bottom: 0;
        }
    }

    // Link styling
    .navigation__link {
        font-size: $navigation-link-font-size;
        &.text-left {
            @include arrow-left;
            > * {
                @include hover {
                    @include arrow-hover;
                }
            }
        }
        &.text-right {
            @include arrow-right;
            > * {
                @include hover {
                    @include arrow-hover(-100%);
                }
            }
        }

        .h5, .navigation__text {
            margin-bottom: $navigation-link-child-spacing;
        }
        .svg {
            transition: $transition-base;
        }
    }


    // Responsive styling
    @media (min-width: 440px) {
        --navigation-gutter: #{$navigation-item-gutter-xs};
        .navigation__link {
            .h5, .navigation__text {
                margin-bottom: $navigation-link-child-spacing-sm;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        .navigation__card {
            .svg {
                @include size($navigation-card-icon-size-sm);
            }
        }

        .navigation__link {
            > * {
                @include px($navigation-link-padding-x);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .navigation__card {
            .svg {
                @include size($navigation-card-icon-size-lg);
            }
        }
    }

    @include media-breakpoint-down(md) {
        .h5 {
            font-size: $navigation-title-font-size;
        }
        .navigation__link {
            font-size: $navigation-link-font-size-sm;
            .svg {
                width: $navigation-link-arrow-width;
            }
        }
    }
}


// Navbar styles

.navbar {
    ul {
        @include unlist;
        @include flexbox-v-center;
        margin-top: calc(-1 * $navbar-item-margin);
        li {
            @include flex(50%);
            margin-top: $navbar-item-margin;
            a {
                --link-hover-color: var(--link-color);
                &:not(:hover) {
                    opacity: $navbar-link-opacity;
                }
            }
        }
    }


    // Responsive styling
    @include media-breakpoint-up(sm) {
        ul {
            justify-content: space-between;
            margin-top: 0;
            li {
                width: initial;
                margin-top: 0;
                &:not(:first-child) {
                    @include direction(margin-left $navbar-item-margin);
                }
            }
        }
    }
}