// 
// Core styles
// 


// Common styles

#main {
    position: relative;
    #email {
        opacity: 0;
    }
}

.word,
.word .word__inner {
    display: inline-block;
}

.hidden {
    position: absolute;
    display: block;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

#email {
    @include absolute(left 0 bottom 0);
    @include font-size($email-font-size);
    width: 100%;
    color: $white;
    z-index: -1;
    opacity: $email-opacity;
}

.overflow-visible {
    overflow: visible !important;
}


// Page section styles

.section {
    padding-bottom: var(--section-padding-y);
    overflow: hidden;

    .section__head {
        margin-bottom: var(--section-head-margin-bottom);
        h2 {
            @include font-size($h1-font-size);
        }
    }
    
    .section__title {
        --heading-margin-bottom: 0;
        --heading-line-height: #{$section-title-line-height};

        @include media-breakpoint-up(lg) {
            width: percentage(divide(8, 12));
        }

        @include media-breakpoint-up(xl) {
            width: percentage(divide(6, 12));
        }
    }
}

.section__subtitle {
    color: $section-subtitle-color;
    margin-bottom: $section-subtitle-margin-bottom;
}


// Page head styles

.page-head {
    @include mx;
    @include flexbox;
    justify-content: center;
    gap: calc($page-head-child-space * .5);
    margin-bottom: calc($page-head-margin-bottom * .5);

    .page-head__title,
    .page-head__content {
        @include flex;
    }

    .page-head__title {
        --heading-margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        gap: $page-head-child-space;
        margin-bottom: $page-head-margin-bottom;
        
        .page-head__title,
        .page-head__content {
            width: calc(50% - ($page-head-child-space * .5));
        }
    }

    @include media-breakpoint-up(lg) {
        width: percentage(divide(11, 12));
    }
    
    @include media-breakpoint-up(xl) {
        width: percentage(divide(9, 12));
    }
}