//
// Resume Page
//
// .resume-cover    - page cover image styles
// .education       - styles for the education section
// .expertise       - styles for the expertise card
// .experience      - experience list styles
// .award-card      - styles for award card


// Resume cover styles

.resume-cover {
    position: relative;

    .resume-cover__hero {
        mask-image: $resume-hero-mask-image;
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
    }

    .resume-cover__link {
        @include absolute(left 50% bottom 0);
        transform: translate(-50%, 50%);
        max-width: $resume-hero-link-max-width;
    }
}


// Education styles

.education {
    --gutter-y: #{$grid-gutter-width * .5};
    --gutter-x: #{$grid-gutter-width * .5};

    .education__item {
        --heading-margin-bottom: 0;
        --heading-line-height: 1.15;
    }
    
    .education__content {
        .card {
            --card-padding-y: #{$education-content-card-padding-y};
            --card-padding-x: #{$education-content-card-padding-x};
            color: $education-content-card-color;
            flex-direction: row;
            align-items: center;
            background: var(--primary);
            border-top-left-radius: $border-radius-pill;
            border-top-right-radius: $border-radius-pill;
            @include direction(border-bottom-left-radius $border-radius-pill);
        }
    }

    .education__image {
        .card {
            border-bottom-left-radius: $border-radius-pill;
            border-bottom-right-radius: $border-radius-pill;
            @include direction(border-top-right-radius $border-radius-pill);
        }
    }


    // Responsive styling
    @include media-breakpoint-up(sm) {
        --gutter-y: #{$grid-gutter-width};
        --gutter-x: #{$grid-gutter-width};
    }

    @include media-breakpoint-up(md) {
        .education__item,
        .education__image,
        .education__content {
            width: percentage(divide(6, 12));
        }
    }

    @include media-breakpoint-up(xl) {
        .education__item {
            width: percentage(divide(4, 12));
        }
        .education__image,
        .education__content {
            width: percentage(divide(3, 12));
        }

        > *:first-child {
            @include direction(margin-left auto);
        }
    }
}


// Expertise styles

.expertise {

    .card {
        --card-padding-y: #{$expertise-card-margin-y};
        height: initial;
        position: sticky;
        top: 120px;
    }
    
    .expertise__item {
        color: $expertise-color;
        &:not(:first-child) {
            margin-top: $expertise-item-margin-top;
        }
    }

    // Responsive styling
    @include media-breakpoint-up(md) {
        width: percentage(divide(5, 12));
    }

    @include media-breakpoint-up(xl) {
        width: percentage(divide(3, 12));
    }
}


// Experience styles

.experience {
    margin-top: $experience-margin-top;
    .experience__item {
        padding-top: $experience-item-padding-x;
        padding-bottom: $experience-item-padding-x;
        border-top: $border-width solid $border-color-translucent;
        &:last-child {
            border-bottom: $border-width solid $border-color-translucent;
        }
    }

    .experience__title {
        --heading-margin-bottom: 0;
    }

    .experience__content {
        margin-top: $experience-content-margin-top;
        .experience__content__title {
            color: $experience-content-title-color;
        }
    }

    // Responsive styling
    @include media-breakpoint-up(md) {
        width: percentage(divide(7, 12));
        margin-top: 0;
    }

    @include media-breakpoint-up(xl) {
        width: percentage(divide(9, 12));
        @include direction(padding-left $experience-padding-x);
        
        .experience__title {
            width: percentage(divide(4, 12));
        }
        .experience__content {
            width: percentage(divide(8, 12));
            margin-top: 0;
        }
    }
}


// Award card styles

.award-card {
    @include size($award-card-width, $award-card-height);
}