// 
// Service page
// 
// .service-card        - styles for the service card in the marquee
// .plan-card           - styles for the plan card


// Service card styles

.service-card {
    width: $service-card-width;

    .service-card__head {
        --heading-margin-bottom: 0;
        @include flexbox-v-center;
        justify-content: space-between;
        margin-bottom: $service-card-head-margin-bottom;
        .h3 {
            flex: 1;
        }
    }

    .service-card__icon {
        @include flexbox-center;
        @include size($service-card-icon-size);
        border-radius: $service-card-icon-size;
        background-color: var(--primary);
        img {
            max-width: 50%;
        }
    }

    @include media-breakpoint-up(sm) {
        width: $service-card-width-sm;

        .service-card__icon {
            @include size($service-card-icon-size-sm);
        }
    }
}


// Plan card styles

.plan-card {
    padding-top: $plan-card-padding-y;
    padding-bottom: $plan-card-padding-y;
    &.plan-card--pro {
        color: $white;
        background: $base-gradient-bg;
    }

    // Plan info list styling
    .plan-info {
        @include unlist;
        color: $plan-item-color;
        li {
            position: relative;
            @include direction(padding-left $plan-item-padding-left);
            @include before {
                @include absolute(top 0);
                @include direction(left 0);
                @include size($plan-item-icon-size);
                background-image: escape-svg($plan-item-icon);
                @include rtl {
                    transform: scaleX(-1);
                }
            }
            &:not(:first-child) {
                margin-top: $plan-item-margin-top;
            }
        }
    }
}


// Responsive styles

@include media-breakpoint-up(xl) {
    #pricing {
        padding-top: $plan-card-space-top;
    }

    .plan-card.plan-card--pro {
        transform: translateY(-$plan-card-space-top);
    }
}
